{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}{% block titulo %} Caja Pulingui |
Historia {% endblock titulo%} {% block container %}

<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'assets/img/hero/banerp.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Contenido</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row h_blog_item" style="justify-content: center;">
      <div class="col-lg-9">
        <div class="h_blog_text">
          <div class="h_blog_text_inner left right" style="justify-content: center;">
            
            <div class="main-container" >
                
              {% if request.user.is_authenticated %}
              <div class="btn-group" >
                <i
                  class="fas fa-ellipsis-h"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></i>

                <div class="dropdown-menu">
                  <a
                    class="dropdown-item"
                    href="{% url 'editar-baner' post.id %}"
                    >Editar Baner</a
                  >
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="{% url 'eliminar-baner' post.id %}"
                    >Eliminar Baner</a
                  >
                </div>
              </div>

            {% endif %}
            <h2>{{post.sub_headline}}</h2>
                
              <hr>
                {% for tag in post.tags.all %}
                    <h7>-{{tag}}</h7>
                {% endfor %}
                

                <!-- <h1>{{post.headline}}</h1> -->
                
                <br>

                </p>{{post.body|safe}}</p>
                <hr>
                <p>{{post.created}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  
  .section_gap {
    padding: 25px 0;
  }
  @media (max-width: 991px) {
    .section_gap {
      padding: 70px 0;
    }
  }

  .section_gap_top {
    padding-top: 130px;
  }
  @media (max-width: 991px) {
    .section_gap_top {
      padding-top: 70px;
    }
  }

  .section_gap_bottom {
    padding-bottom: 130px;
  }
  @media (max-width: 991px) {
    .section_gap_bottom {
      padding-bottom: 70px;
    }
  }

  .h_blog_item .col-lg-6 {
    vertical-align: middle;
    align-self: center;
  }
  .h_blog_item .h_blog_img {
    position: relative;
    z-index: 10;
  }
  .h_blog_item .h_blog_text {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .h_blog_item .h_blog_text .h_blog_text_inner {
    background: #fff;
    padding: 75px 90px;
    border-radius: 10px;
  }
  @media (max-width: 991px) {
    .h_blog_item .h_blog_text .h_blog_text_inner {
      padding: 30px 15px;
    }
  }
  .h_blog_item .h_blog_text .h_blog_text_inner.left {
    position: relative;
    z-index: 2;
  }
  .h_blog_item .h_blog_text .h_blog_text_inner.right {
    margin-left: -104px;
    position: relative;
    z-index: 1;
    border: 10px solid #e9e9e9;
  }
  @media (max-width: 991px) {
    .h_blog_item .h_blog_text .h_blog_text_inner.right {
      margin-left: 0px;
    }
  }
  .h_blog_item .h_blog_text .h_blog_text_inner h4 {
    color: #002347;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .h_blog_item .h_blog_text .h_blog_text_inner p {
    margin-bottom: 30px;
  }

  .h_blog_item .trusted-img {
    position: initial;
    z-index: 15;
  }
  p{
      text-align: justify;
  }

  .h_blog_item{
    margin-left: 7em;
  }
</style>

{% endblock container %}
